<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Records</title>
   
    <style>
        .inn {
            font-family: Roboto, Arial, sans-serif;
            color: #666;
            text-align: center;
        }
        
        .navbar-nav .nav-link.active,
        .navbar-light .navbar-nav .nav-link.show,
        .navbar-light .navbar-nav .show>.nav-link {
            color: #fff !important;
        }
    </style>


</head>


<body style="background-color:#fff6f6">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0080ff;">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left:6%">
                <a class="nav-item nav-link active bar"href="{% url 'admin:index'%}"> Admin panel <span class="sr-only">(current)</span></a>
                
                <!-- <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
            </div>
        </div>
    </nav>


    <div class="container">
        <br>
        <div class="inn">
            <h2>View Records</h2>
        </div>
        <!-- <div style=" text-align: right;">
        <button type="button" class="btn btn-primary" style="background: #1c87c9;">Home</button>
      </div> -->

        <div class="col-sm-30" style="margin-left: auto; margin-right:auto;">
            <table class="table table-bordered" style="margin-top:5%">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ITEM DESCRIPTION</th>
                        <th scope="col">INSTALLED ON</th>
                        <th scope="col">EXPIRES ON</th>
                        <th scope="col">RESPONSIBLE PERSON</th>
                        <th scope="col">VALID FOR</th>
                        <th scope="col">REMAINING DAYS</th>


                    </tr>
                </thead>


                <tbody>

                    {% for li in object_list %}

                    <tr>
                        <td>{{ li.id}}</td>
                        <td>{{ li.item_description}}</td>
                        <td>{{ li.Installation_Date}}</td>
                        <td>{{ li.Expiry_Date}}</td>
                        <td>{{ li.Responsible_person}}</td>
                  
                        <td>{{li.Installation_Date|timesince:li.Expiry_Date}}</td>
                        <td>{{ li.age_in_days }}  days</td
                       
                        {% comment %} <td><a class="btn btn-secondary btn-sm" href="{% url 'mail' license.id %}" role="button" target="_blank" data-toggle="tooltip" data-placement="top" title="Email Notification"><i class="fa fa-mail"></i></a></td> {% endcomment %}

                    </tr>

                    {% endfor %}
                
                    {% comment %} {% for li in meet_condition_licenses %}   {% endcomment %}
                    {% comment %} {{ li.Expiry_Date}} {% endcomment %}
                    {% comment %} <tr>
                        <td>{{ li.id}}</td>
                        <td>{{ li.item_description}}</td>
                        <td>{{ li.Installation_Date}}</td>
                        {% if li.Expiry_Date in meet_condition_licenses %}
                        <td style="color: red;">{{ li.Expiry_Date }}</td>
                        {% else %}
                        <td>{{ li.Expiry_Date}}</td>
                        {% endif %}
                       
                        <td >{{ li.Responsible_person }}</td>
                        
                        <td>{{li.Installation_Date|timesince:li.Expiry_Date}}</td> {% endcomment %}
                        {% comment %} <td><a class="btn btn-secondary btn-sm" href="{% url 'mail' li.id %}" role="button" target="_blank" data-toggle="tooltip" data-placement="top" title="Email Notification"><i class="fa fa-mail"></i></a></td> {% endcomment %}

                    {% comment %} </tr>  {% endcomment %}
                  
                   
                    
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>


